*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
.customShadow{
    box-shadow: 2px 4px 8px black;
}
.section1{
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    margin-top: 20px;
    font-size: 30px;
    text-align: center;
    padding-bottom: 20px;
}
.container{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap:0 px;
    background-color: slategray;
    width:400px;
    margin: 0 auto;
}
.input-field{
    display: grid;
    grid-column: 1/7;
    height: 90px;
    font-size: 20px;
    font-weight: bold;
    padding: 0px 5px;
}
.btn{
    background-color: rgb(4, 4, 4);
    color: green;
    font-weight: bolder;
    font-size: 20px;
    width:67px;
    height: 90px;
    border: none;
    border-radius: 10px;
}
.btn:hover{
    background-color: orange;
}
.btn-op{
    color:#FFFF;
    font-size: 16px;
    font-weight: normal;
}
.bottom{
    display: flex;
    grid-column: 1/7;
    height: 80px;
    justify-content:space-between;
    align-items: center;
    background-color: blue;
    padding: 0px 10px;
    font-size: 28px;
    color:#FFFF;
    font-weight: bold;
}
.bottom:hover{
    background-color: orangered;
}
.image{
    width:50px;
    height:50px;
    border-radius: 50%;
}
.delete{
    width: 30px;
    height: 30px;
}

@media screen and (max-width: 576px) {
    .container{
        width:350px;
        margin: auto;
    }
    .btn{
        font-size: 16px;
        width:59px;
        height: 70px;
        border: none;
        border-radius: 10px;
    }
    h1{
        font-size: 28px;
    }
}